#ignore all kind of files
*.*
#except Mar-D files
!*.gitignore
!/Mard/*.MARD
!/Mard/*.FAD
!/Mard/*.FAA
!/Mard/*.FAT
!/Mard/*.FAY
!/Mard/*.FAP
!/Mard/*.FAS
!/Mard/*.FTD
!/Mard/*.FTL
!/Mard/*.FTT
!/Mard/*.FTY
!/Mard/*.BED
!/Mard/*.BEI
!/Mard/*.BEA
!/Mard/*.BET
!/Mard/*.BEC
!/Mard/*.BEN
!/Mard/*.ETD
!/Mard/*.ETA
!/Mard/*.ETG
!/Mard/*.ETR
!/Mard/*.ETT
!/Mard/*.ETY
!/Mard/*.ETP
!/Mard/*.ESD
!/Mard/*.EST
!/Mard/*.ENC
!/Mard/*.SQD
!/Mard/*.SQA
!/Mard/*.SQT
!/Mard/*.SQY
!/Mard/*.SQP